@import './tools'

.fade-enter
.fade-leave-to
  opacity 0
  transform translate3d(0, 10px, 0)

.fade-enter-active
.fade-leave-active
  transition-property opacity transform
  transition-duration  0.3s
  transition-timing-function ease-in-out


.appear-enter
.appear-leave-to
  opacity 0
  transform scale(.1, .1)
  backdrop-filter none

.appear-enter-active
.appear-leave-active
  transition-property opacity transform
  transition-duration  0.3s
  transition-timing-function ease-in-out

@keyframes calltoaction {
  0% {
    transform translate3d(0, 0, 0)
  }
  10% {
    transform translate3d(0, -20px, 0)
  }
  35% {
    transform translate3d(0, -20px, 0)
  }
  40% {
    transform rotate(4deg) translate3d(0, -20px, 0)
  }
  45% {
    transform rotate(-4deg) translate3d(0, -20px, 0)
  }
  50% {
    transform rotate(4deg) translate3d(0, -20px, 0)
  }
  55% {
    transform rotate(-4deg) translate3d(0, -20px, 0)
  }
  60% {
    transform translate3d(0, -20px, 0)
  }
  70% {
    transform translate3d(0, 0, 0)
  }
  100% {
    transform translate3d(0, 0, 0)
  }
}
