@import './tools'

[v-cloak]
  display none !important

html
body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  overscroll-behavior none
  background-color #E4F7FF


html
  min-width 320px
  fontRegular()

a
  text-decoration none

.custom-scrollbar
  overflow-y auto
  &::-webkit-scrollbar
    width 5px
  &::-webkit-scrollbar-track
    background-color blue
  &::-webkit-scrollbar-thumb
    background green

.container
  max-width 1200px
  margin 0 auto
  padding 0 25px

.flex-desc
  display flex
  flex-direction column
  +gt-md()
    flex-direction row
    justify-content space-between
