$fontsPath = '../static/fonts/Roboto/'

//@font-face
//  font-family 'Roboto'
//  src local('Roboto Medium'), local('Roboto-Medium'),
//    url($fontsPath + 'Roboto-Medium.woff2') format('woff2'),
//    url($fontsPath + 'Roboto-Medium.woff') format('woff'),
//    url($fontsPath + 'Roboto-Medium.ttf') format('truetype')
//  font-weight 500
//  font-style normal
//  font-display swap

