$fontsPath = '../static/fonts/'

@font-face
  font-family 'Montserrat'
  src local('Montserrat Regular'), local('Montserrat-Regular'),
    url($fontsPath + 'Montserrat-Regular.woff2') format('woff2'),
    url($fontsPath + 'Montserrat-Regular.woff') format('woff'),
    url($fontsPath + 'Montserrat-Regular.ttf') format('truetype')
  font-weight 400
  font-style normal
  font-display swap


@font-face
  font-family 'Montserrat'
  src local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url($fontsPath + 'Montserrat-SemiBold.woff2') format('woff2'),
    url($fontsPath + 'Montserrat-SemiBold.woff') format('woff'),
    url($fontsPath + 'Montserrat-SemiBold.ttf') format('truetype')
  font-weight 600
  font-style normal
  font-display swap


@font-face
  font-family 'Montserrat'
  src local('Montserrat Bold'), local('Montserrat-Bold'),
    url($fontsPath + 'Montserrat-Bold.woff2') format('woff2'),
    url($fontsPath + 'Montserrat-Bold.woff') format('woff'),
    url($fontsPath + 'Montserrat-Bold.ttf') format('truetype')
  font-weight 700
  font-style normal
  font-display swap
