@import './variables'

// fonts
fontRegular()
  font-family 'Montserrat', Helvetica, sans-serif
  font-weight normal
  font-style normal
  color #544837
  line-height 1.15

fontSemiBold()
  font-family 'Montserrat', Helvetica, sans-serif
  font-weight 600
  font-style normal
  color #2F281E
  line-height 1.22

fontBold()
  font-family 'Montserrat', Helvetica, sans-serif
  font-weight 700
  font-style normal
  color #2F281E
  line-height 1.3

// other mixins
debug()
  background-color rgba(red, .33) !important

outlineDebug()
  outline 3px solid rgba(red, .33) !important

hover()
  &:hover
    html.desktop &
      {block}

flexCenter()
  display flex
  justify-content center
  align-items center
